In [20]:
import pandas as pd

data = pd.read_csv("combined_data.csv")
data

,,Country,Rank,City,Population,Cost of Living
United States,1.0,$692,New York City,United States,Population 8.8M,Cost of living $3879
China,2.0,$440,London,United Kingdom Population 8.91M Cost of...,NaN,NaN
India,3.0,$2317,Beijing,China Population 21.9M Cost of living ...,NaN,NaN
United States,4.0,$573,TokyoJapan Population 14M Cost of livin...,NaN,NaN,NaN
Indonesia,5.0,$332,Shanghai,China Population 24.9M,Cost of living $1183,NaN
...,...,...,...,...,...,...
San Marino,194.0,$1161,NaN,NaN,NaN,NaN
Palau,195.0,$709,NaN,NaN,NaN,NaN
Nauru,196.0,$564,NaN,NaN,NaN,NaN
Tuvalu,197.0,$869,NaN,NaN,NaN,NaN
Vatican,NaN,NaN,NaN,NaN,NaN,NaN